@page "/about"

<fieldset>
    <legend>ASCOM Alpaca Simulators</legend>
    <p>Version - @ServerSettings.ServerVersion</p>
    <p>Copyright 2021-25 Daniel Van Noord</p>

</fieldset>

<fieldset>
    <legend>Open Source list</legend>

    <p>This project uses many awesome Open Source Projects. Presented in alphabetical order.</p>

    <p>.Net 8.0 and Asp.Net Core - .NET Foundation and Contributors - MIT License</p>
    <p>ASCOM Cross Platform Libraries - ASCOM Initiative - MIT License</p>
    <p>Blazored.Toast - Chris Sainty - MIT License</p>
    <p>H.NotifyIcon - havendv - MIT License</p>
    <p>Microsoft.AspNetCore.Authorization - Microsoft - Apache 2.0</p>
    <p>Microsoft.AspNetCore.Identity - Microsoft - Apache 2.0</p>
    <p>Microsoft.VisualBasic - Microsoft - MIT License</p>
    <p>NETStandard.Library - .NET Foundation and Contributors - MIT License</p>
    <p>OctoKit - GitHub - MIT License</p>
    <p>SixLabors.ImageSharp - Six Labors and contributors - Apache 2.0</p>
    <p>Swashbuckle.AspNetCore - Richard Morris - MIT License</p>
    <p>Windows.Vector - Mono - MIT License</p>

</fieldset>

<fieldset>
    <legend>ASCOM Simulator Code</legend>
    <p>Copyright 1999-2024, ASCOM Initiative</p>
    <p>Special permission has been granted from the ASCOM Initiative to use the code from the ASCOM Platform in this project.</p>
</fieldset>
