@page "/setup/v1/FilterWheel/{InstanceID:int}/setup"

@inject IToastService toastService
@inject NavigationManager uriHelper;

<body>
    <fieldset>
        <legend>Filter Wheel Settings</legend>

        <div>
            <label for="filters">Number of Filters:</label>

            <select name="filters" id="filters" @bind="NumberOfFilters">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>

        <div>
            <label for="timedelay">Time between slots (secs):</label>

            <select name="timedelay" id="timedelay" @bind="TimeDelay">
                <option value=".5">0.5</option>
                <option value="1">1.0</option>
                <option value="1.5">1.5</option>
                <option value="2">2.0</option>
                <option value="2.5">2.5</option>
                <option value="3">3.0</option>
                <option value="3.5">3.5</option>
                <option value="4">4.0</option>
            </select>
        </div>
        <div>
            <input type="checkbox" id="implementsfilternames" name="implementsfilternames" @bind="ImplementsFilterNames">
            <label for="implementsfilternames"> Implements Filter Names</label><br>

            <input type="checkbox" id="implementsfocusoffsets" name="implementsfocusoffsets" @bind="ImplementsFocusOffsets">
            <label for="implementsfocusoffsets"> Implements Focus Offsets</label><br>

            <input type="checkbox" id="preemptmoves" name="preemptmoves" @bind="PreemptMoves">
            <label for="preemptmoves"> Allow Pre-emption of Moves</label><br>
        </div>
    </fieldset>

    <fieldset>
        <legend>Filter Setup</legend>
        <table style="width:100%">
            <tr>
                <th></th>
                <th>Filter Name</th>
                <th>Focus Offset</th>
            </tr>

            @for (int i = 0; i < 8; i++)
            {
                <tr>
                    <td>Slot @i</td>
                    <td><input type="text" @bind="FilterNames[i]" /></td>
                    <td><input type="number" min="0" step="1" @bind="FilterOffsets[i]" /></td>
                </tr>
            }
        </table>
    </fieldset>

    <fieldset>
        <legend>Save</legend>
        <div class="grid-container-two">

            <div class="grid-item-left">
                <button @onclick="Reset">Reset</button>
            </div>
            <div class="grid-item-right">
                <button @onclick="SaveDeviceSettings">Save</button>
            </div>
        </div>
    </fieldset>
</body>

@code {
    [Parameter]
    public int InstanceID { get; set; }

    /// <summary>
    /// This access the device type not the interface to allow the device specific settings to be accessed.
    /// </summary>
    private ASCOM.Simulators.FilterWheel Device
    {
        get
        {
            return DeviceManager.GetFilterWheel(InstanceID) as ASCOM.Simulators.FilterWheel;
        }
    }

    protected override void OnInitialized()
    {

        NumberOfFilters = Device.Names.Count();
        TimeDelay = ASCOM.Simulators.FilterWheelHardware.Interval / 1000;
        ImplementsFilterNames = ASCOM.Simulators.FilterWheelHardware.ImplementsNames;
        ImplementsFocusOffsets = ASCOM.Simulators.FilterWheelHardware.ImplementsOffsets;
        PreemptMoves = ASCOM.Simulators.FilterWheelHardware.PreemptMoves;

        for (int i = 0; i < 8; i++)
        {
            FilterNames[i] = ASCOM.Simulators.FilterWheelHardware.FullFilterNames[i];
            FilterOffsets[i] = ASCOM.Simulators.FilterWheelHardware.FullFocusOffsets[i];
        }

        base.OnInitialized();
    }

    #region Connection

    public bool Connected
    {
        get
        {
            return Device.Connected;
        }
    }

    public string ConnectionColor
    {
        get
        {
            if (Connected)
            {
                return "red";
            }
            return "gray";
        }
    }

    public string ConnectText
    {
        get
        {
            if (Device.Connected)
            {
                return "Disconnect";
            }
            return "Connect";
        }
    }

    public void Connect()
    {
        Device.Connected = !Device.Connected;
    }

    #endregion

    #region Settings
    int NumberOfFilters
    {
        get;
        set;
    }

    double TimeDelay
    {
        get;
        set;
    }

    bool ImplementsFilterNames
    {
        get;
        set;
    }

    bool ImplementsFocusOffsets
    {
        get;
        set;
    }

    bool PreemptMoves
    {
        get;
        set;
    }
    #endregion

    #region Filter Setup
    string[] FilterNames
    {
        get;
        set;
    } = new string[8];

    int[] FilterOffsets
    {
        get;
        set;
    } = new int[8];
    #endregion

    public void Reset()
    {
        try
        {
            ASCOM.Simulators.FilterWheelHardware.ResetProfile();
            ASCOM.Simulators.FilterWheelHardware.Initialize();

            toastService.ShowSuccess("Settings Reset");

            var timer = new System.Threading.Timer(new System.Threading.TimerCallback(_ =>
            {
                uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
            }), null, 2000, 2000);
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }

    public void SaveDeviceSettings()
    {
        try
        {
            ASCOM.Simulators.FilterWheelHardware.SaveSettings(NumberOfFilters, TimeDelay, FilterNames, FilterOffsets, ASCOM.Simulators.FilterWheelHardware.FullFilterColours, ImplementsFilterNames, ImplementsFocusOffsets, PreemptMoves);

            toastService.ShowSuccess("Settings Saved");
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
}