@page "/"

<fieldset>
    <legend>ASCOM Alpaca Simulators</legend>
    <p>Welcome to the ASCOM Alpaca Simulator, a full set of simulators for testing and developing Alpaca Applications.</p>
    <p>Server Transactions: @DeviceManager.RawTransactionID</p>
</fieldset>