@page "/"
@using System.Runtime.InteropServices

<fieldset>
    <legend>ASCOM Alpaca Simulators</legend>
    <p>Welcome to the ASCOM Alpaca Simulator, a full set of simulators for testing and developing Alpaca Applications.</p>

    <p>Version - @ServerSettings.ServerVersion</p>

    <p>@RuntimeInformation.OSDescription</p>

    <p>Server Transactions: @DeviceManager.RawTransactionID</p>

    <a href="/swagger" target="_blank">View Swagger docs and interactive queries</a>
    <p>Please note that the Alpaca API documentation on the ASCOM website is the canonical version. There are several issues with this auto generated version that will be resolved in future versions. This is currently provided only for testing the simulators.</p>
</fieldset>

@if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
{
    <fieldset>
        <legend>ASCOM Status</legend>




        @if (ASCOM_Support && ASCOM_Installed)
        {
            <p>This build has ASCOM COM Driver Support and the Platform is detected</p>

            @if (ASCOM_Registered)
            {
                <p>A Simulator Driver is registered. You can Reregister if a driver is missing or Unregister the drivers.</p>
            }
            else
            {
                <p>A Simulator Driver is not registered. You can Register the drivers for COM Access.</p>
            }
            <input type="button" value="Register COM Drivers" @onclick="RegisterCOMDrivers" />
            <input type="button" value="Unregister COM Drivers" @onclick="UnregisterCOMDrivers" />
        }
        else if (ASCOM_Support)
        {
            <p>This build has ASCOM COM Driver Support but either no ASCOM Platform is installed or the version is to old.</p>
        }
        else
        {
            <p>This build does not have ASCOM COM Driver Support.</p>
        }

    </fieldset>
}

<fieldset>
    <legend>Simulator Control</legend>

    <label for="camera_restart">Camera</label>
    <input id="camera_restart" type="button" value="Restart Simulation" @onclick="RestartCamera" />

    <br />

    <label for="covercalibrator_restart">CoverCalibrator</label>
    <input id="covercalibrator_restart" type="button" value="Restart Simulation" @onclick="RestartCoverCalibrator" />

    <br />

    <label for="dome_restart">Dome</label>
    <input id="dome_restart" type="button" value="Restart Simulation" @onclick="RestartDome" />

    <br />

    <label for="filterwheel_restart">FilterWheel</label>
    <input id="filterwheel_restart" type="button" value="Restart Simulation" @onclick="RestartFilterWheel" />

    <br />

    <label for="focuser_restart">Focuser</label>
    <input id="focuser_restart" type="button" value="Restart Simulation" @onclick="RestartFocuser" />

    <br />

    <label for="observingconditions_restart">ObservingConditions</label>
    <input id="observingconditions_restart" type="button" value="Restart Simulation" @onclick="RestartObservingConditions" />

    <br />

    <label for="rotator_restart">Rotator</label>
    <input id="rotator_restart" type="button" value="Restart Simulation" @onclick="RestartRotator" />

    <br />

    <label for="safetymonitor_restart">SafetyMonitor</label>
    <input id="safetymonitor_restart" type="button" value="Restart Simulation" @onclick="RestartSafetyMonitor" />

    <br />

    <label for="switch_restart">Switch</label>
    <input id="switch_restart" type="button" value="Restart Simulation" @onclick="RestartSwitch" />

    <br />

    <label for="telescope_restart">Telescope</label>
    <input id="telescope_restart" type="button" value="Restart Simulation" @onclick="RestartTelescope" />
</fieldset>

@code
{
    bool ASCOM_Support
    {
        get
        {
#if ASCOM_COM
    return true;
#else
            return false;
#endif
        }
    }

    bool ASCOM_Installed
    {
        get
        {
#if ASCOM_COM
    return ASCOM.LocalServer.Server.ASCOM_Installed;
#else
            return false;
#endif
        }
    }

    bool ASCOM_Registered
    {
        get
        {
#if ASCOM_COM
    return ASCOM.LocalServer.Server.IsRegistered;
#else
            return false;
#endif
        }
    }

    void RegisterCOMDrivers()
    {
#if ASCOM_COM
    try
    {
    ASCOM.LocalServer.Server.RegisterObjects();
    }
    catch
    {

    }
#endif
    }

    void UnregisterCOMDrivers()
    {
#if ASCOM_COM
    try
    {
    ASCOM.LocalServer.Server.UnregisterObjects();
    }
    catch
    {

    }
#endif
    }

    void RestartCamera()
    {
        DriverManager.LoadCamera(0);
    }

    void RestartCoverCalibrator()
    {
        DriverManager.LoadCoverCalibrator(0);
    }

    void RestartDome()
    {
        DriverManager.LoadDome(0);
    }

    void RestartFilterWheel()
    {
        DriverManager.LoadFilterWheel(0);
    }

    void RestartFocuser()
    {
        DriverManager.LoadFocuser(0);
    }

    void RestartObservingConditions()
    {
        DriverManager.LoadObservingConditions(0);
    }

    void RestartRotator()
    {
        DriverManager.LoadRotator(0);
    }

    void RestartSafetyMonitor()
    {
        DriverManager.LoadSafetyMonitor(0);
    }

    void RestartSwitch()
    {
        DriverManager.LoadSwitch(0);
    }

    void RestartTelescope()
    {
        DriverManager.LoadTelescope(0);
    }

}