@page "/"
@using System.Runtime.InteropServices

<fieldset>
    <legend>ASCOM Alpaca Simulators</legend>
    <p>Welcome to the ASCOM Alpaca Simulator, a full set of simulators for testing and developing Alpaca Applications.</p>
    <p>Server Transactions: @DeviceManager.RawTransactionID</p>

    <a href="/swagger" target="_blank">View Swagger docs and interactive queries</a>
    <p>Please note that the Alpaca API documentation on the ASCOM website is the canonical version. There are several issues with this auto generated version that will be resolved in future versions. This is currently provided only for testing the simulators.</p>
</fieldset>


<fieldset>
    <legend>OS Status</legend>

    <p>@RuntimeInformation.OSDescription</p>

    @if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
    {
        

        @if (ASCOM_Support && ASCOM_Installed)
        {
            <p>This build has ASCOM COM Driver Support and the Platform is detected</p>
        }
        else if (ASCOM_Support)
        {
            <p>This build has ASCOM COM Driver Support but either no ASCOM Platform is installed or the version is to old.</p>
        }
        else
        {
            <p>This build does not have ASCOM COM Driver Support.</p>
        }
    }
    else if (RuntimeInformation.IsOSPlatform(OSPlatform.Linux))
    {

    }
    else if (RuntimeInformation.IsOSPlatform(OSPlatform.Linux))
    {

    }
</fieldset>

<fieldset>
    <legend>Simulator Control</legend>

    <label for="camera_restart">Camera</label>
    <input id="camera_restart" type="button" value="Restart Simulation" @onclick="RestartCamera"/>
</fieldset>

@code
{
    bool ASCOM_Support
    {
        get
        {
#if ASCOM_COM
    return true;
#else
            return false;
#endif
        }
    }

    bool ASCOM_Installed
    {
        get{
#if ASCOM_COM
    return ASCOM.LocalServer.Server.ASCOM_Installed;
#else
            return false;
#endif
        }
    }

    void RestartCamera()
    {
        DriverManager.LoadCamera(0);
    }
}