@page "/"

<fieldset>
    <legend>ASCOM Alpaca Simulators</legend>
    <p>Welcome to the ASCOM Alpaca Simulator, a full set of simulators for testing and developing Alpaca Applications.</p>
    <p>Server Transactions: @DeviceManager.RawTransactionID</p>

    <a href="/swagger" target="_blank">View Swagger docs and interactive queries</a>
    <p>Please note that the Alpaca API documentation on the ASCOM website is the canonical version. There are several issues with this auto generated version that will be resolved in future versions. This is currently provided only for testing the simulators.</p>
</fieldset>