@page "/setup/v1/SafetyMonitor/{InstanceID:int}/setup"

@inject IToastService toastService

<body>
    <fieldset>
        <legend>SafetyMonitor Settings</legend>
        <div class="grid-container-two">
            <div class="grid-item-right">
                <button @onclick="Connect">@ConnectText</button>
            </div>
            <div class="grid-item-left">
                <svg width="30" height="30">
                    <circle cx="15" cy="15" r="11" style="fill:@ConnectionColor;stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>
            </div>
        </div>

        <div class="grid-container-two">
            <div class="grid-item-right">
                <span>Is Safe Value:</span>
            </div>
            <div class="grid-item-left">
                <input type="checkbox" @bind="@IsSafe">
            </div>
            <div class="grid-item-right">
                <span>Reset Profile:</span>
            </div>
            <div class="grid-item-left">
                <button @onclick="Reset">Reset</button>
            </div>
        </div>
    </fieldset>
</body>

@code {
    [Parameter]
    public int InstanceID { get; set; }

    /// <summary>
    /// This access the device type not the interface to allow the device specific settigns to be accessed.
    /// </summary>
    private ASCOM.Simulators.SafetyMonitor Device
    {
        get
        {
            return DeviceManager.GetSafetyMonitor(InstanceID) as ASCOM.Simulators.SafetyMonitor;
        }
    }

    public bool Connected
    {
        get
        {
            return Device.Connected;
        }
    }

    public string ConnectionColor
    {
        get
        {
            if (Connected)
            {
                return "red";
            }
            return "gray";
        }
    }

    public string ConnectText
    {
        get
        {
            if (Device.Connected)
            {
                return "Disconnect";
            }
            return "Connect";
        }
    }

    public void Connect()
    {
        Device.Connected = !Device.Connected;
    }

    public bool IsSafe
    {
        get
        {
            return Device.IsSafe;
        }
        set
        {
            Device.SetIsSafeProfile(value);
        }
    }

    public void Reset()
    {
        try
        {
            Device.ResetProfile();

            toastService.ShowSuccess("Settings Reset");
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
}