@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <BlazoredToasts />

    <div class="content px-1">
        @if (ServerSettings.UseAuth)
        {
            <LoginControl />
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
            </AuthorizeView>
        }
        else
        {
            @Body
        }
    </div>
</div>