<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ASCOM.Alpaca.Simulators</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/covercalibratorcontrol" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CoverCalibrator Control
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="setup/v1/camera/0/setup" Match="NavLinkMatch.All">
                <span class="oi oi-camera-slr" aria-hidden="true"></span> Camera
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="setup/v1/covercalibrator/0/setup" Match="NavLinkMatch.All">
                <span class="oi oi-contrast" aria-hidden="true"></span> CoverCalibrator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="setup/v1/observingconditions/0/setup" Match="NavLinkMatch.All">
                <span class="oi oi-cloudy" aria-hidden="true"></span> ObservingConditions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="setup/v1/safetymonitor/0/setup" Match="NavLinkMatch.All">
                <span class="oi oi-ban" aria-hidden="true"></span> SafetyMonitor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="setup" Match="NavLinkMatch.All">
                <span class="oi oi-wrench" aria-hidden="true"></span> Driver Setup
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
